@import '../../sassStyles/colors';
@import '../../sassStyles/mixins';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.products-page {
  padding-top: 20px;

  @include onTablet {
    padding-top: 40px;
  }

  // HEADER
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 15px;

    background-color: $color__page-header;
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.75px;

    &::before {
      @include icon(30px, '../static/icons/icon__product.png');

      @include onTablet {
        width: 35px;
        height: 35px;
      }
    }

    @include onTablet {
      font-size: 30px;
    }
  }

  &__new-product {
    padding: 10px 15px;

    font-family: 'Roboto';
    font-size: 16px;
    color: $color__text--main;

    background: linear-gradient(
      -45deg,
      rgba(58, 55, 133, 1) 20%,
      rgba(111, 107, 198, 1) 40%,
      rgba(146, 107, 198, 1) 60%,
      rgba(196, 107, 198, 1) 80%
    );
    background-size: 400% 400%;
    border-radius: 10px;

    animation: gradient 5s ease infinite;
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s;

    @include onTablet {
      font-size: 20px;
    }

    @include onDesktop {
      padding: 10px 20px;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
        border-radius: 20px;
      }
    }
  }

  // FORM
  &__search-label {
    display: flex;
    align-items: center;
    gap: 15px;

    &::before {
      // @include icon(30px, '../static/search__icon.svg');
      transition: transform 0.3s;

      @include onTablet {
        width: 35px;
        height: 35px;
      }
    }

    @include onDesktop {
      &:hover {
        &::before {
          transform: scale(1.1);
        }
      }
    }
  }

  &__search-container {
    width: 100%;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: $color__border;

      transition: width 0.5s ease-out;
    }

    &:focus-within {
      &::after {
        width: 100%;
      }
    }
  }

  &__search {
    width: 100%;
    padding: 14px 0;

    font-size: 16px;
    font-weight: 200;
    color: $color__text--main;

    caret-color: $color__accent;

    @include onTablet {
      font-size: 24px;
    }
  }
}
