@import '../../sassStyles/colors';
@import '../../sassStyles/mixins';

.success-modal {
  padding: 20px;
  background: $color__modal-form;
  border-radius: 6px;

  @include onTablet {
    padding: 40px;
  }

  &__img {
    display: block;
    width: 200px;
    margin: 0 auto 20px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-size: 35px;
    text-align: center;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}
