$color__background: #10141e;
$color__page-header: #161d2f;
$color__text--main: #fff;
$color__accent: #635fc7;
$color__accent--hover: #5754b4;
$color__border: rgba(130, 143, 163, 0.25);
$color__modal-form: #2b2c37;
